/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/******************** basic ********************/
html {
	background: #371b15;
	color: #FFFFFF;
}

body {
	margin: 0 auto;
	width: 980px;
}

h2 {
	color: #fcd902;
	text-align: right;
	font-family: 'DIN1451StdEngschrift';
	font-size: 65px;
	text-shadow: 2px 3px 0px #000000;
	margin: 5px 10px 0 0;
	width: 460px;
	float: left;
}

h3, footer h3 {
	text-align: center;
	font-family: 'DIN1451StdEngschrift';
	font-size: 26px;
	text-shadow: 2px 3px 0px #000000;
	margin: 0 10px 0 0;
	width: 980px;
	display: inline-block;
}

.obrigado {
	text-align: left;
	margin: 30px 0;
}

p a {
	color: #fcd902;
	display: block;
	font-family: 'DIN1451StdEngschrift';
	font-size: 43px;
	text-align: center;
	text-decoration: none;
	text-shadow: 2px 3px 0px #000000;
	width: 980px;
	margin: 20px 0;
}

p.full {
	font-size: 20px;
	margin: 10px 0 30px;
	text-shadow: 3px 3px 3px #000000;
	font-family: 'DINProRegular';
	width: 100%;
}

#media-line {
	background: url("../images/util/asterisco.png");
	height: 15px;
	margin: 20px 0 30px !important;
	width: 99% !important;
	padding: 0 !important;
}


/******************** header ********************/
header {
	background: url("../images/util/header.jpg");
	height: 270px;
}

section {
	display: inline-block;
	margin: 30px;
}

section span {
	display: inline-block;
	float: left;
	width: 560px;
}

.inscricao {
	background: #bd8a7b; /* Old browsers */
	background: -moz-linear-gradient(top, #bd8a7b 0%, #6c3833 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd8a7b), color-stop(100%,#6c3833)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bd8a7b 0%,#6c3833 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bd8a7b 0%,#6c3833 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #bd8a7b 0%,#6c3833 100%); /* IE10+ */
	background: linear-gradient(top, #bd8a7b 0%,#6c3833 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd8a7b', endColorstr='#6c3833',GradientType=0 ); /* IE6-9 */
	border: 1px solid #bd8a7b;
	border-radius: 10px;
	box-shadow: 2px 2px 0px #000000;
	color: #FFFFFF;
	display: block;
	font-family: 'DIN1451StdEngschrift';
	font-size: 35px;
	float: left;
	height: 70px;
	line-height: 70px;
	margin: 8px 0 30px;
	text-align: center;
	text-decoration: none;
	text-shadow: 2px 2px 0px #000000;
	width: 300px;
}

.inscricao-speed {
	background: #bd8a7b; /* Old browsers */
	background: -moz-linear-gradient(top, #bd8a7b 0%, #6c3833 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd8a7b), color-stop(100%,#6c3833)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bd8a7b 0%,#6c3833 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bd8a7b 0%,#6c3833 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #bd8a7b 0%,#6c3833 100%); /* IE10+ */
	background: linear-gradient(top, #bd8a7b 0%,#6c3833 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd8a7b', endColorstr='#6c3833',GradientType=0 ); /* IE6-9 */
	border: 1px solid #bd8a7b;
	border-radius: 10px;
	box-shadow: 2px 2px 0px #000000;
	color: #FFFFFF;
	display: block;
	font-family: 'DIN1451StdEngschrift';
	font-size: 25px;
	float: right;
	height: 50px;
	line-height: 50px;
	margin: 32px 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 2px 2px 0px #000000;
	width: 300px;
}

.speed-img {
	float: none;
	text-align: center;
	margin: 60px 260px 20px;
}

.speed {
	background: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 3px 3px 0 0 #000000;
	display: inline-block;
	padding: 15px 20px;
	margin: 0 0 30px;
	width: 940px;
}

.speed li {
	display: inline-block;
	vertical-align: top;
	float: left;
}

.speed a {
	
}

.speed img {
	display: inline-block;
}

/******************** video ********************/
#video {
	background: url("../images/util/bg-pontos.png");
	width: 700px;
	padding: 0 140px;
	height: 394px;
}

/******************** footer ********************/
footer {
	background: url("../images/util/footer.jpg");
	height: 275px;
	margin: 40px 0 0;
}

footer article {
	text-align: center;
}

footer article h3 {
	font-family: 'DIN1451StdEngschrift';
	font-size: 30px;
	height: 50px;
	text-shadow: 2px 3px 0px #000000;
	width: 300px;
}

#support {
	float: left;
	width: 430px;
}

#support img {
	margin: 15px 15px 0 0;
}

#organizers {
	float: right;
	width: 450px;
}

#organizers a {
	color: #FFFFFF;
	float: left;
	font-family: 'DIN1451StdEngschrift';
	font-size: 25px;
	margin: 15px 0 0;
	text-decoration: none;
	text-shadow: 2px 3px 0 #000000;
	min-width: 150px;
}

#organizers a.first {
	margin: 15px 0 0 65px;
}

#organizers a img {
	width: 73px;
}

#organizers a p {
	margin: 5px 0 0;
	font-size: 20px;
}

/******************** @font-face ********************/
/********** DIN1451 **********/
@font-face {
    font-family: 'DIN1451StdEngschrift';
    src: url('../fonts/DIN1451/dinengschriftstd-webfont.eot');
    src: url('../fonts/DIN1451/dinengschriftstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIN1451/dinengschriftstd-webfont.woff') format('woff'),
         url('../fonts/DIN1451/dinengschriftstd-webfont.ttf') format('truetype'),
         url('../fonts/DIN1451/dinengschriftstd-webfont.svg#DIN1451StdEngschrift') format('svg');
    font-weight: normal;
    font-style: normal;
}