/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/******************** basic ********************/
html {
	background: #371b15;
	color: #FFFFFF;
}

body {
	margin: 0 auto;
	width: 980px;
}

h1 {
	padding: 5px 0;
	text-align: center;
	font-family: 'DIN1451StdEngschrift';
	font-size: 35px;
	text-shadow: 2px 3px 0px #000000;
}

h2, .theme {
	color: #fcd902;
	padding: 20px 0 0;
	text-align: center;
	font-family: 'DIN1451StdEngschrift';
	font-size: 43px;
	text-shadow: 2px 3px 0px #000000;
}

.theme {
	font-size: 27px;
	padding: 0;
	margin: 0;
	height: 50px;
}

h3 {
	height: 85px;
	width: 100%;
}

#media-line {
	background: url("../images/util/asterisco.png");
	height: 15px;
	margin: 20px 0 30px !important;
	width: 99% !important;
	padding: 0 !important;
}

/******************** header ********************/
header {
	background: url("../images/util/header.jpg");
	height: 270px;
}

/******************** cities ********************/
#half {
	display: inline-block;
	width: 980px;
	margin: 20px 0 0;
}

.half {
	float: left;
	margin: 0 40px 0 0;
	width: 470px;
}

.last {
	margin: 0;
}

.half #rj-top {
	background: url("../images/cities/box-rj.jpg") 0 0 no-repeat;
	height: 86px;
	padding: 0;
}

.half #rj-top:hover {
	background-position: 0 -86px;
}

.half #sp-top {
	background: url("../images/cities/box-sp.jpg") 0 0 no-repeat;
	height: 86px;
	padding: 0;
}

.half #sp-top:hover {
	background-position: 0 -86px;
}

.half .bottom {
	background: url("../images/cities/box-down.jpg");
	height: 1px;
	margin: 0 0 50px;
}

.half div {
	background: url("../images/cities/box-center.jpg");
	padding: 0 40px 20px;
}

.mapa {
	color: #F58020;
	display: block;
	font-family: 'DIN1451StdEngschrift';
	font-size: 18px;
	margin: 0 0 15px 0;
	text-align: right;
	text-decoration: none;
	text-shadow: 2px 3px 0px #000000;
	width: 400px;
}

.half div a img {
	margin: 0 5px -5px 0;
}

.programacao {
	margin: 30px 0;
}

#table li {
	display: inline-block;
	vertical-align: top;
	width: 110px;
}

#table p {
	font-size: 20px;
	margin: 0 0 0 -17px;
	padding: 5px 0;
	text-align: center;
	width: 144px;
}

#table p.title {
	color: #F58020;
	font-size: 22px;
}

#table img {
	margin: 0 2px;
	border: 3px solid #F58020;
	border-radius: 5px 5px 5px 5px;
}

#table a {
	color: #FCD902;
	display: block;
	font-family: 'DIN1451StdEngschrift';
	text-align: center;
	text-decoration: none;
	text-shadow: 2px 3px 0 #000000;
	width: 110px;
}

.table-top {
	margin: 10px 8px 20px;
}

.table-bottom {
	margin: 0 41px 10px;
}



.speed {
	background: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 3px 3px 0 0 #000000;
	padding: 15px 20px;
	margin: 0 0 30px;
}

.speed li {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 10px;
}

.speed a {
	
}

.speed img {
	display: inline-block;
}



.half p {
	padding: 5px 0 15px;
	text-align: center;
	font-family: 'DIN1451StdEngschrift';
	font-size: 55px;
	text-shadow: 2px 3px 0px #000000;
}

.half p.data {
	color: #fcd902;
	padding: 5px 0;
	text-align: left;
	font-family: 'DIN1451StdEngschrift';
	font-size: 30px;
	text-shadow: 2px 3px 0px #000000;
}

.half p.local {
	padding: 5px 0 30px;
	text-align: left;
	font-family: 'DIN1451StdEngschrift';
	font-size: 30px;
	text-shadow: 2px 3px 0px #000000;
}

.half img#calendar {
	float: left;
}

.half p.calendar {
	color: #FFFFFF;
	display: inline-block;
	padding: 20px 0 15px 30px;
	text-align: left;
	font-family: 'DIN1451StdEngschrift';
	text-shadow: 2px 3px 0px #000000;
	font-size: 20px;
}

.half div p.price {
	padding: 5px 0 15px;
	text-align: center;
	font-family: 'DIN1451StdEngschrift';
	text-shadow: 2px 3px 0px #000000;
	font-size: 26px;
}

.inscricao {
	background: #bd8a7b; /* Old browsers */
	background: -moz-linear-gradient(top, #bd8a7b 0%, #6c3833 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd8a7b), color-stop(100%,#6c3833)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bd8a7b 0%,#6c3833 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bd8a7b 0%,#6c3833 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #bd8a7b 0%,#6c3833 100%); /* IE10+ */
	background: linear-gradient(top, #bd8a7b 0%,#6c3833 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd8a7b', endColorstr='#6c3833',GradientType=0 ); /* IE6-9 */
	border: 1px solid #bd8a7b;
	border-radius: 10px;
	box-shadow: 2px 2px 0px #000000;
	color: #FFFFFF;
	display: block;
	font-family: 'DIN1451StdEngschrift';
	font-size: 35px;
	height: 70px;
	line-height: 70px;
	margin: 20px auto 30px;
	text-align: center;
	text-decoration: none;
	text-shadow: 2px 2px 0px #000000;
	width: 300px;
}



/******************** about-midia ********************/
#two-one {
	display: inline-block;
	width: 980px;
	margin: 40px 0;
}

.two {
	display: inline-block;
	float: left;
	margin: 0 50px 0 0;
	width: 636px;
}

.two img {
	float: left;
	margin: 0 40px 0 0;
}

.two p {
	float: left;
	font-size: 20px;
	margin: 10px 0 30px;
	text-shadow: 3px 3px 3px #000000;
	width: 372px;
	font-family: 'DINProRegular';
}

.two p.full {
	width: 100%;
}

.one {
	display: inline-block;
	float: left;
	margin: 0 50px 0 0;
	width: 292px;
	text-align: center;
}

.last {
	margin: 0;
}

.one ul {
	width: 292px;
}

.one li {
	list-style: none;
}

.one li img {
	margin: 0 30px 15px;
}

/******************** sponsors ********************/
#sponsors {
	display: none;
	width: 980px;
}

/******************** video ********************/
#video {
	background: url("../images/util/bg-pontos.png");
	width: 700px;
	padding: 0 140px;
}

/******************** media ********************/
#three {
	display: inline-block;
	width: 980px;
	margin: 80px 0 0;
}

#contato {
	font-family: 'DINProRegular';
	font-size: 18px;
	text-shadow: 3px 3px 0px #000000;
	padding: 20px 0 0;
}

#contato h4 {
	color: #f58020;
	font-size: 25px;
	margin: 90px 0 20px;
}

#contato p {
	margin: 0 0 10px;
}


/******************** footer ********************/
footer {
	background: url("../images/util/footer.jpg");
	height: 275px;
	margin: 40px 0 0;
}

footer article {
	text-align: center;
}

footer article h3 {
	font-family: 'DIN1451StdEngschrift';
	font-size: 30px;
	height: 50px;
	text-shadow: 2px 3px 0px #000000;
}

#support {
	float: left;
	width: 430px;
}

#support img {
	margin: 15px 15px 0 0;
}

#organizers {
	float: right;
	width: 540px;
}

#organizers a {
	color: #FFFFFF;
	float: left;
	font-family: 'DIN1451StdEngschrift';
	font-size: 25px;
	margin: 15px 0 0;
	text-decoration: none;
	text-shadow: 2px 3px 0 #000000;
	min-width: 130px;
}

#organizers a.first {
	margin: 15px 0 0 65px;
}

#organizers a img {
	width: 73px;
}

#organizers a p {
	margin: 5px 0 0;
	font-size: 20px;
}

/******************** @font-face ********************/
#city-data {
	display: inline-block;
	width: 980px;
	margin: 40px 0 0;
}

#city-data div {
	
}

/******************** @font-face ********************/
/********** DINPRO **********/

@font-face {
    font-family: 'DINProLight';
    src: url('../fonts/DINPRO/dinpro-light-webfont.eot');
    src: url('../fonts/DINPRO/dinpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINPRO/dinpro-light-webfont.woff') format('woff'),
         url('../fonts/DINPRO/dinpro-light-webfont.ttf') format('truetype'),
         url('../fonts/DINPRO/dinpro-light-webfont.svg#DINProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINProMedium';
    src: url('../fonts/DINPRO/dinpro-medium-webfont.eot');
    src: url('../fonts/DINPRO/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINPRO/dinpro-medium-webfont.woff') format('woff'),
         url('../fonts/DINPRO/dinpro-medium-webfont.ttf') format('truetype'),
         url('../fonts/DINPRO/dinpro-medium-webfont.svg#DINProMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINProBlack';
    src: url('../fonts/DINPRO/dinpro-black-webfont.eot');
    src: url('../fonts/DINPRO/dinpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINPRO/dinpro-black-webfont.woff') format('woff'),
         url('../fonts/DINPRO/dinpro-black-webfont.ttf') format('truetype'),
         url('../fonts/DINPRO/dinpro-black-webfont.svg#DINProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINProBold';
    src: url('../fonts/DINPRO/dinpro-bold-webfont.eot');
    src: url('../fonts/DINPRO/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINPRO/dinpro-bold-webfont.woff') format('woff'),
         url('../fonts/DINPRO/dinpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/DINPRO/dinpro-bold-webfont.svg#DINProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINProRegular';
    src: url('../fonts/DINPRO/dinpro-regular-webfont.eot');
    src: url('../fonts/DINPRO/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINPRO/dinpro-regular-webfont.woff') format('woff'),
         url('../fonts/DINPRO/dinpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/DINPRO/dinpro-regular-webfont.svg#DINProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/********** DIN1451 **********/
@font-face {
    font-family: 'DIN1451StdEngschrift';
    src: url('../fonts/DIN1451/dinengschriftstd-webfont.eot');
    src: url('../fonts/DIN1451/dinengschriftstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIN1451/dinengschriftstd-webfont.woff') format('woff'),
         url('../fonts/DIN1451/dinengschriftstd-webfont.ttf') format('truetype'),
         url('../fonts/DIN1451/dinengschriftstd-webfont.svg#DIN1451StdEngschrift') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DIN1451StdMittelschrift';
    src: url('../fonts/DIN1451/dinmittelschriftstd-webfont.eot');
    src: url('../fonts/DIN1451/dinmittelschriftstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIN1451/dinmittelschriftstd-webfont.woff') format('woff'),
         url('../fonts/DIN1451/dinmittelschriftstd-webfont.ttf') format('truetype'),
         url('../fonts/DIN1451/dinmittelschriftstd-webfont.svg#DIN1451StdMittelschrift') format('svg');
    font-weight: normal;
    font-style: normal;

}